<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script type="text/javascript" th:replace="common-scripts :: jquery" src="../../js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" th:replace="common-scripts :: functions" src="../../js/functions.js"></script>
    <script type="text/javascript">
        focusOnLoad('#oldPasswordField');
    </script>
</head>
<body>

<div th:if="${changePasswordForm.errorMsg} != null" th:text="${changePasswordForm.errorMsg}" style="color: red"/>
<form th:action="${(#mvc.url('UC#changePasswordPost')).build()}" th:object="${changePasswordForm}" method="post">
    <table>
        <tr>
            <td>Old password</td>
            <td><input id="oldPasswordField" type="password" th:field="*{oldPassword}"/></td>
        </tr>
        <tr>
            <td>New password</td>
            <td><input type="password" th:field="*{newPassword1}"/></td>
        </tr>
        <tr>
            <td>Retype new password</td>
            <td><input type="password" th:field="*{newPassword2}"/></td>
        </tr>
        <tr>
            <td><a th:href="${(#mvc.url('NC#home')).build()}">Cancel</a></td>
            <td><input type="submit" value="Change password"/></td>
        </tr>
    </table>
</form>


</body>
</html>
