<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script th:fragment="underscore" type="text/javascript" th:src="'/js/underscore-min.js'" ></script>
    <script th:fragment="jquery" type="text/javascript" th:src="'/js/jquery-3.3.1.min.js'" ></script>
    <script th:fragment="jquery-ui" type="text/javascript" th:src="'/js/jquery-ui-1.12.1.min.js'" ></script>
    <script th:fragment="js-multi-select" type="text/javascript" th:src="'/js/jquery.multi-select.js'" ></script>

    <script th:fragment="functions" type="text/javascript" th:src="'/assets/js/' + ${@environment.getProperty('app.version')} + '/functions.js'" ></script>
    <script th:fragment="icon-selector" type="text/javascript" th:src="'/assets/js/' + ${@environment.getProperty('app.version')} + '/icon-selector.js'" ></script>
    <script th:fragment="icons-table" type="text/javascript" th:src="'/assets/js/' + ${@environment.getProperty('app.version')} + '/icons-table.js'" ></script>
    <script th:fragment="prepareText" type="text/javascript" th:src="'/assets/js/' + ${@environment.getProperty('app.version')} + '/prepareText.js'" ></script>
    <script th:fragment="learnText" type="text/javascript" th:src="'/assets/js/' + ${@environment.getProperty('app.version')} + '/learnText.js'" ></script>
    <script th:fragment="learnWords" type="text/javascript" th:src="'/assets/js/' + ${@environment.getProperty('app.version')} + '/learnWords.js'" ></script>

    <link th:fragment="jquery-ui-css" rel="stylesheet" th:href="'/css/jquery-ui-1.12.1.min.css'">
    <link th:fragment="css-bootstrap" rel="stylesheet" th:href="'/css/bootstrap-3.3.7/css/bootstrap.min.css'">
    <link th:fragment="css-multiselect" rel="stylesheet" th:href="'/css/multi-select.css'" media="screen" type="text/css">

    <link th:fragment="css" rel="stylesheet" th:href="'/assets/css/' + ${@environment.getProperty('app.version')} + '/style.css'">
</head>
<body>



</body>
</html>
