<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:replace="common-scripts :: css-bootstrap" href="../../css/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" th:replace="common-scripts :: css-multiselect" href="../../css/multi-select.css">
    <script type="text/javascript" th:replace="common-scripts :: jquery" src="../../js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" th:replace="common-scripts :: js-multi-select" src="../../js/jquery.multi-select.js"></script>
    <script type="text/javascript">
        $(function() {
            $("#role-selector").multiSelect({
                    selectableHeader: "<div>Available</div>",
                    selectionHeader: "<div>Selected</div>"
            });
        });
    </script>
</head>
<body>

<div th:if="${editUserForm.errorMsg} != null" th:text="${editUserForm.errorMsg}" style="color: red"/>
<form th:action="${(#mvc.url('UC#editUser')).build()}" th:object="${editUserForm}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <table>
        <tr>
            <td>Name</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td>New password</td>
            <td><input type="password" th:field="*{newPassword1}"/></td>
        </tr>
        <tr>
            <td>Retype new password</td>
            <td><input type="password" th:field="*{newPassword2}"/></td>
        </tr>
        <tr>
            <td>Roles</td>
            <td>
                <select id="role-selector" multiple="multiple" th:field="*{roles}">
                    <option th:each="role : ${allRoles}"
                            th:text="${role.name}"
                            th:value="${role.id}"
                            th:selected="${#sets.contains(editUserForm.roles, role.id)}">RoleName</option>
                </select>
            </td>
        </tr>
        <tr>
            <td><a th:href="${(#mvc.url('UC#users')).build()}">Cancel</a></td>
            <td><input type="submit" th:value="*{id} == null ? 'Create' : 'Save'" value="Save"/></td>
        </tr>
    </table>
</form>


</body>
</html>
