<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script type="text/javascript" th:replace="common-scripts :: jquery" src="../../js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" th:replace="common-scripts :: jquery-ui" src="../../js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" th:replace="common-scripts :: underscore"></script>

    <script type="text/javascript" th:replace="common-scripts :: functions"></script>
    <script type="text/javascript" th:replace="common-scripts :: icons-table"></script>

    <link rel="stylesheet" th:replace="common-scripts :: jquery-ui-css" >
    <link rel="stylesheet" th:replace="common-scripts :: css-bootstrap" href="../../css/bootstrap-3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" th:replace="common-scripts :: css">

    <script type="text/javascript" th:inline="javascript">
        $( function() {
            /*<![CDATA[*/
            let showIcons = /*[[${showIcons}]]*/;
            if (showIcons) {
                let iconsDataJson = JSON.parse(/*[[${iconsDataJson}]]*/);
                iconsTable('icons-table', iconsDataJson);
            }
            /*]]>*/
        } );
    </script>
    <script type="text/javascript">
        function reorderMode() {
            $( "#children-list" ).addClass("sortable");
            $( "#children-list" ).sortable();
            $( "#children-list" ).disableSelection();
            $( "#reorder-btn" ).hide();
            $( "#cancel-reorder-btn" ).show();
            $( "#save-order-btn" ).show();
        }
        function cancelReorder() {
            window.location.reload();
        }
        function saveOrder(parentId) {
            let newOrdering = {
                parentId: parentId,
                children: _.map($("#children-list").children().toArray(), function(elem) {return elem.id})
            };
            doPost({
                url: "/reorderNodeChildren",
                data: newOrdering,
                success: function () {
                    window.location.reload();
                }
            });
        }
        $( function() {
            registerShortcuts();
        } );
    </script>
    <title th:text="${paragraph.name}"/>
</head>
<body>
<div th:replace="common-header :: header"></div>
<div th:replace="path :: path"/>
<div th:replace="training-navigation :: nav-buttons (id=${paragraph.id}, showParentBtn=${paragraph.hasParent}, showFirstChildBtn=${paragraph.hasChildren})"/>
<h2>&sect;<span id="main-title" th:text="${paragraph.name}" /></h2>
<img th:if="${paragraph.icon != null}" class="icon-img" th:src="@{icon/{iconId}(iconId=${paragraph.icon.id})}"/>
<div>
    <a th:if="${paragraph.id != null}" th:href="@{editParagraph(id=${paragraph.id})}" href="#">Edit this directory</a>&nbsp;
    <a th:href="@{editParagraph(parentId=${paragraph.id})}" href="#">Create new directory</a>&nbsp;
    <a th:href="@{editTopic(parentId=${paragraph.id})}" href="#">Create new topic</a>&nbsp;
    <a th:href="@{words/createEngText(parentId=${paragraph.id})}" href="#">Create new text</a>&nbsp;
    <a th:if="${paragraph.id != null}" th:href="@{export(id=${paragraph.id})}" href="#">Export</a>&nbsp;
    <a th:if="${paragraph.id != null}" th:href="@{learnNodes(id=${paragraph.id})}" href="#">Learn nodes</a>&nbsp;

    <span th:unless="${paragraph.id == null}" id="reorder-btn"><a href="#" onclick="reorderMode()">Reorder</a>&nbsp;</span>
    <span th:unless="${paragraph.id == null}" id="cancel-reorder-btn" hidden="hidden"><a href="#"  onclick="cancelReorder()">Cancel reordering</a>&nbsp;</span>
    <span th:unless="${paragraph.id == null}" id="save-order-btn" hidden="hidden"><a href="#" th:onclick="'saveOrder(\'' + ${paragraph.id} + '\')'">Save order</a>&nbsp;</span>

    <span th:replace="selection-controls :: selection-buttons (hasWhatToPaste=${hasWhatToPaste}, id=${paragraph.id})"></span>
</div>

<div>
    <a shortcut="/" th:unless="${showContent}" th:href="@{paragraph#main-title(id=${paragraph.id})}">Show content</a>&nbsp;
    <a shortcut="/" th:if="${showContent}" th:href="@{paragraph#main-title(id=${paragraph.id},showContent=false)}">Hide content</a>
</div>
<div th:if="${showContent}" shortcut="c" >
    <div id="icons-table"></div>
    <ul id="children-list" >
        <li th:id="${childNode.id}" type="square" th:each="childNode : ${paragraph.childNodes}">
            <span th:if="${childNode instanceof T(org.igye.outline.model.Paragraph)}">
                <span th:replace="selection-controls :: selection-checkbox (id=${childNode.id}, objecttype='PARAGRAPH')"></span>
                <a th:if="${childNode.hasChildren}" th:href="@{firstChild(id=${childNode.id})}" >&#8681;&nbsp;</a>
                <span th:unless="${childNode.hasChildren}">&#8681;&nbsp;</span>
                <a th:href="@{paragraph(id=${childNode.id},showContent=true)}" th:text="${childNode.name}"></a>
            </span>
            <span th:if="${childNode instanceof T(org.igye.outline.model.Topic)}">
                <span th:replace="selection-controls :: selection-checkbox (id=${childNode.id}, objecttype='TOPIC')"></span>
                <a th:href="@{topic(id=${childNode.id},showContent=true)}" th:text="${childNode.name}"></a>
            </span>
            <span th:if="${childNode instanceof T(org.igye.outline.model.EngText)}">
                <span th:replace="selection-controls :: selection-checkbox (id=${childNode.id}, objecttype='ENG_TEXT')"></span>
                <a th:href="@{words/prepareText(id=${childNode.id},pageMode='taskSelection')}"
                   class="start-task-selection-lnk" >&#10148;&nbsp;</a>
                <a th:href="@{words/prepareText(id=${childNode.id})}" th:text="${childNode.name}"></a>
            </span>
        </li>
    </ul>
</div>
</body>
</html>
