<html xmlns:th="http://www.thymeleaf.org">
<body>

<span th:fragment="selection-buttons (hasWhatToPaste, id)">
    <span id="selection-mode-on-btn"><a href="#" onclick="selectionModeOn()">Select items</a>&nbsp;</span>
    <span id="selection-mode-off-btn" hidden="hidden"><a href="#"  onclick="selectionModeOff()">Cancel selection</a>&nbsp;</span>
    <span id="cut-btn" hidden="hidden"><a href="#" onclick="doSelection('MOVE')">Cut</a>&nbsp;</span>
    <span th:if="${hasWhatToPaste}" ><a href="#" th:onclick="'doPaste(\'' + ${id} + '\')'">Paste</a>&nbsp;</span>
</span>

<span th:fragment="selection-checkbox (id, objecttype)">
    <input class="selection-checkbox" type="checkbox" hidden="hidden" th:id="${id}" th:objecttype="${objecttype}">
</span>

</body>
</html>
