<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="nav-buttons (id, showParentBtn, showFirstChildBtn)" style="margin-top: 20px">
    <table class="nav-buttons">
        <tr th:if="${showParentBtn}">
            <td colspan="4">
                <a shortcut="p" th:href="@{parent(id=${id})}" >&#8679; Parent</a>
            </td>
        </tr>
        <tr>
            <td th:if="${isLeftmostSibling}" colspan="2">This is the first item.</td>
            <td th:unless="${isLeftmostSibling}">
                <a shortcut="[" th:href="@{furthestSibling(id=${id}, toTheRight=false)}">&#10502; First</a>
            </td>
            <td th:unless="${isLeftmostSibling}">
                <a shortcut="," th:href="@{nextSibling(id=${id}, toTheRight=false)}">&#8678; Prev</a>
            </td>
            <td th:unless="${isRightmostSibling}">
                <a shortcut="." th:href="@{nextSibling(id=${id}, toTheRight=true)}">Next &#8680;</a>
            </td>
            <td th:unless="${isRightmostSibling}">
                <a shortcut="]" th:href="@{furthestSibling(id=${id}, toTheRight=true)}">Last &#10503;</a>
            </td>
            <td th:if="${isRightmostSibling}" colspan="2">This is the last item.</td>
        </tr>
        <tr th:if="${showFirstChildBtn}">
            <td colspan="4">
                <a shortcut="l" th:href="@{firstChild(id=${id})}" >&#8681; First child</a>
            </td>
        </tr>
    </table>
</div>

</body>
</html>
