<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/static.css" >
    <script type="text/javascript" src="js/static.js" ></script>
    <title th:text="${node.getName()}"/>
</head>
<body onload="registerShortcuts();">
<h2>
    <span th:if="${isParagraph}">&sect;</span>
    <span th:unless="${isParagraph}">&#10042;</span>
    <span th:text="${node.getName()}" />
</h2>
<div>
    <table class="training-navigation">
        <tr><td/><td/><td/><td><a id="btn-up" th:classappend="${parent == null}?link-disabled" th:attrappend="href=${parent}?(${parent.getId()}+'.html')" >&#8679;</a></td></tr>
        <tr>
            <td><a id="btn-leftmost" th:classappend="${leftMostSibling == null}?link-disabled" th:attrappend="href=${leftMostSibling}?(${leftMostSibling.getId()}+'.html')" >&lt;&lt;&lt;</a></td>
            <td><a id="btn-left" th:classappend="${leftSibling == null}?link-disabled" th:attrappend="href=${leftSibling}?(${leftSibling.getId()}+'.html')" >&#8678;</a></td>
            <td><a id="btn-right" th:classappend="${rightSibling == null}?link-disabled" th:attrappend="href=${rightSibling}?(${rightSibling.getId()}+'.html')" >&#8680;</a></td>
            <td><a id="btn-rightmost" th:classappend="${rightMostSibling == null}?link-disabled" th:attrappend="href=${rightMostSibling}?(${rightMostSibling.getId()}+'.html')" >&gt;&gt;&gt;</a></td>
        </tr>
        <tr th:if="${isParagraph}"><td/><td/><td/><td><a id="btn-down" th:classappend="${firstChild == null}?link-disabled" th:attrappend="href=${firstChild}?(${firstChild.getId()}+'.html')" >&#8681;</a></td></tr>
        <tr th:unless="${isParagraph}"><td/><td/><td/><td><span id="btn-img" onclick="showContent()">&#9883;</span></td></tr>
    </table>
</div>
<div th:unless="${isParagraph}" id="content-wrapper" style="display: none">
    <div th:each="content : ${node.contents}">
        <img th:if="${content instanceof T(org.igye.outline.model.Image)}"
             th:src="'img/'+${content.id}"/>
        <span th:if="${content instanceof T(org.igye.outline.model.Text)}" th:text="${content.text}"/>
    </div>
</div>
</body>
</html>