<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" th:replace="common-scripts :: css-bootstrap" href="../../../css/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" th:replace="common-scripts :: jquery-ui-css" href="../../../css/jquery-ui-1.12.1.min.css">
    <link rel="stylesheet" th:replace="common-scripts :: css-multiselect" href="../../../css/multi-select.css">
    <link rel="stylesheet" th:replace="common-scripts :: css" href="../../../css/style.css">

    <script type="text/javascript" th:replace="common-scripts :: jquery" src="../../../js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" th:replace="common-scripts :: jquery-ui" src="../../../js/jquery-ui-1.12.1.min.js"></script>
    <script type="text/javascript" th:replace="common-scripts :: underscore" src="../../../js/underscore-min.js"></script>
    <script type="text/javascript" th:replace="common-scripts :: js-multi-select" src="../../../js/jquery.multi-select.js"></script>
    <script type="text/javascript" th:replace="common-scripts :: functions" src="../../../js/functions.js"></script>
    <script type="text/javascript" th:replace="common-scripts :: learnWords" src="../../../js/learnWords.js"></script>
    <script type="text/javascript" th:replace="common-scripts :: prepareText" src="../../../js/prepareText.js"></script>
    <script type="text/javascript" th:replace="common-scripts :: learnText" src="../../../js/learnText.js"></script>

    <script th:inline="javascript">
        /*<![CDATA[*/
        var engTextId = /*[[${engTextId}]]*/;
        var textLanguage = /*[[${textLanguage}]]*/;
        var sentenceNumber = /*[[${sentenceIdx}]]*/;
        var nextSentenceMode = /*[[${nextSentenceMode}]]*/;
        /*]]>*/
        var pageState = {
            engTextId: engTextId,
            textLanguage: textLanguage,
            sentenceIdx: sentenceNumber,
            nextSentenceMode: nextSentenceMode,
            sentence: undefined,
            maxSentenceIdx: undefined,
            firstInput: undefined,
            taskDescription: undefined,
            countsBefore: undefined,
            countsAfter: undefined
        };

        $( function() {
            initPage();
        } );
    </script>
    <script type="text/javascript">
        $( function() {
            $( "#dialog-confirm" ).dialog({
                resizable: false,
                height: "auto",
                width: 400,
                modal: true,
                autoOpen: false
            });
            $( "#dialog-modal" ).dialog({
                resizable: true,
                height: "auto",
                width: 800,
                modal: true,
                autoOpen: false
            });
        } );
    </script>
</head>
<body>
<div th:replace="common-header :: header"></div>
<div th:replace="path :: path"/>

<h4><a th:href="@{/words/prepareText(id=${engTextId})}" th:text="${engTextTitle}"></a></h4>
<div id="task-description-area"></div>
<hr/>
<div>
    <span id="translate-buttons"></span>
    <button id="check-words-btn" class="orange-on-focus" onclick="checkWords()">Check</button>
    <button th:unless="${nextSentenceMode == 'random'}" onclick="goToPrevSentence()">Prev</button>
    <button th:if="${nextSentenceMode == 'random'}" disabled>Prev</button>
    <button id="try-again-btn" shortcut="r" class="green-on-focus" onclick="tryAgain()">Try again</button>
    <button id="next-btn" class="green-on-focus" onclick="goToNextSentence()">Next</button>
    <button th:unless="${nextSentenceMode == 'random'}" id="first-sentence-btn" class="green-on-focus" onclick="goToSentence(0)">First sentence</button>
    <button onclick="goToNextSentenceByNumber()">Go to</button>
    <input type="text" id="go-to-sentence-number" size="5">
    <button id="show-sentence-btn" onclick="showSentence()">Show sentence</button>
    <a th:href="@{/words/prepareText(id=${engTextId},pageMode='taskSelection')}" >Exercises</a>
</div>
<div id="sentence-to-learn-area"></div>
<div id="show-sentence-area"></div>

<div id="dialog-confirm" hidden="hidden">
</div>
<div id="dialog-modal" hidden="hidden">
</div>
</body>
</html>
