<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" th:replace="common-scripts :: css-bootstrap" href="../../../css/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" th:replace="common-scripts :: jquery-ui-css" href="../../../css/jquery-ui-1.12.1.min.css">
    <link rel="stylesheet" th:replace="common-scripts :: css-multiselect" href="../../../css/multi-select.css">
    <link rel="stylesheet" th:replace="common-scripts :: css" href="../../../css/style.css">

    <script type="text/javascript" th:replace="common-scripts :: jquery" src="../../../js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" th:replace="common-scripts :: jquery-ui" src="../../../js/jquery-ui-1.12.1.min.js"></script>
    <script type="text/javascript" th:replace="common-scripts :: underscore" src="../../../js/underscore-min.js"></script>
    <script type="text/javascript" th:replace="common-scripts :: js-multi-select" src="../../../js/jquery.multi-select.js"></script>
    <script type="text/javascript" th:replace="common-scripts :: functions" src="../../../js/functions.js"></script>
    <script type="text/javascript" th:replace="common-scripts :: learnWords" src="../../../js/learnWords.js"></script>
    <!--<script type="text/javascript" src="/js/words-to-import.js"></script>-->
    <script type="text/javascript" th:replace="common-scripts :: prepareText" src="../../../js/prepareText.js"></script>

    <script th:inline="javascript">
        /*<![CDATA[*/
        var engTextId = /*[[${engTextId}]]*/;
        var pageMode = /*[[${pageMode}]]*/;
        /*]]>*/
        // var engTextId = "197f721f-d5eb-4a37-8f16-8a818d25a6fd";
        var textDataJson = undefined;

        $( function() {
            getEngText(engTextId, function (data) {
                initPage();
            });
        } );
    </script>
    <script type="text/javascript">
        $( function() {
            $( "#dialog-confirm" ).dialog({
                resizable: false,
                height: "auto",
                width: 400,
                modal: true,
                autoOpen: false
            });
            $( "#dialog-modal" ).dialog({
                resizable: true,
                height: "auto",
                width: 800,
                modal: true,
                autoOpen: false
            });
        } );
    </script>
</head>
<body>
<div th:replace="common-header :: header"></div>
<div th:replace="path :: path"/>

<h2 th:unless="${pageMode == 'taskSelection'}" id="text-title"></h2>
<h2 th:if="${pageMode == 'taskSelection'}" >
    <a th:href="@{/words/prepareText(id=${engTextId})}" id="text-title"></a>
</h2>
<hr/>
<table>
    <tr>
        <td th:unless="${pageMode == 'taskSelection'}">Language:</td>
        <td th:unless="${pageMode == 'taskSelection'}"><span id="lang-span" style="margin-right: 150px"></span></td>
        <td>Density:</td>
        <td><span id="pct-span"></span></td>
        <td th:unless="${pageMode == 'taskSelection'}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a th:href="@{/words/prepareText(id=${engTextId},pageMode='taskSelection')}">Start</a></td>
    </tr>
</table>
<hr/>
<table>
    <tr th:unless="${pageMode == 'taskSelection'}">
        <td colspan="2" id="main-text-area-buttons-td">
            <span id="translate-buttons"></span>
            <button onclick="saveSelectedWord()">Save word</button>
            <button onclick="ignoreSelectedWord()">Ignore</button>
            <button onclick="unignoreSelectedWord()">Unignore</button>
            <button onclick="editSelectedWord()">Edit word</button>
            <button onclick="moveSelectedWordToGroup()">Move to group:</button>
            <input type="text" id="move-to-group-curr-value" size="5">
            <a href="#main-text-area-buttons-td">Up</a>
        </td>
    </tr>
    <tr>
        <td th:unless="${pageMode == 'taskSelection'}">
            <h4 id="main-text-area"></h4>
        </td>
        <td>
            Learn groups:
            <span id="learn-groups-select">
            </span>
        </td>
        <td class="exercise-selector" th:if="${pageMode == 'taskSelection'}">
            <div>Chose exercise:</div>
            <ol>
                <li>
                    <a th:href="@{/words/engText/{id}/learn(id=${engTextId})}" >Fill gaps in a sentence.</a>
                </li>
                <li>
                    <a th:href="@{/words/engText/{id}/learn(id=${engTextId},nextSentenceMode='random')}" >Fill gaps in a sentence: random mode.</a>
                </li>
                <li>
                    <a th:href="@{/words/engText/{id}/learnWords(id=${engTextId},learnDirection=false)}" id="x-ru-link">Words: X -> RU </a>
                </li>
                <li>
                    <a th:href="@{/words/engText/{id}/learnWords(id=${engTextId},learnDirection=true)}" id="ru-x-link">Words: RU -> X</a>
                </li>
            </ol>
        </td>
    </tr>
</table>
<hr/>

<div th:unless="${pageMode == 'taskSelection'}">
<div id="words-to-learn-table-buttons-container">
    <span id="translate-buttons-for-words-table"></span>
    <button onclick="prepareTextPageEndpoints.createNewWord('')">Add new word</button>
    <!--<button onclick="importWord('278710b5-a4a2-43aa-a96c-dfdc13c8f31e', 0)">Import all words</button>-->
    <span th:replace="selection-controls :: selection-buttons (hasWhatToPaste=${hasWhatToPaste}, id=${engTextId})"></span>
    <a href="#words-to-learn-table-buttons-container">Up</a>
    <span>Number of words: <span id="number-of-words-span"></span></span>
</div>
<div id="words-to-learn-table-container"></div>
<hr/>
<hr/>
Ignore list:
<div id="ignore-list-text-area"></div>
<hr/>
</div>

<div id="dialog-confirm" hidden="hidden">
</div>
<div id="dialog-modal" hidden="hidden">
</div>
</body>
</html>
