.NodesContainer-list-of-nodes {
    padding: 20px;
}

.NodesContainer-list-of-nodes a {
    height: 100%;
}

.NodesContainer-list-of-nodes li {
    margin: 15px;
}

.NodesContainer-list-of-nodes img:hover {
    outline: 1px solid blue;
}