.sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
.sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
.sortable li span { position: absolute; margin-left: -1.3em; }

.nav-buttons td {padding: 5px;}

.icon-img {
    padding: 5px;
}

.icons-table {
    margin: 10px 25px;
}

.icons-table table, .icons-table td {
    border: 1px solid lightgrey;
}

.icons-table td {
    text-align: center;
    padding: 5px;
}

.icons-table td a {
    display: block;
    height: 100%;
}

.icons-table td a:hover {
    outline: 1px solid blue;
}

.outline-bordered-table td, .outline-bordered-table th {
    border: 1px solid lightgrey;
}

.outline-noborder-table td, .outline-noborder-table tr, .outline-noborder-table {
    padding-left: 3px;
    border: none;
}

#text-title span {
    font-size: xx-large;
}

.main-text-table-wrapper {
    max-height: 500px;
    overflow-y: auto;
    resize: vertical;
}

.main-text-table {
    margin: 20px;
}

.main-text-table td {
    padding: 5px;
}

.main-text-table tr:hover {
    background-color: #f5e79e;
}

#words-to-learn-table-buttons-container {
    margin-bottom: 5px;
}

#words-to-learn-table tr:hover {
    background-color: #f5e79e;
}

#words-to-learn-table-container {
    /*max-height: 500px;*/
    /*overflow-y: auto;*/
    /*resize: vertical;*/
}

.word-ignored {
    color: lightslategray;
    font-family: "Courier New";
}

.word-general {
    font-family: "Courier New";
}

.word-to-learn-no-group {
    font-style: italic;
    font-family: "Arial";
    text-decoration: underline;
    border: 2px solid red;
}

.word-to-learn {
    font-style: italic;
    font-family: "Arial";
    text-decoration: underline;
}

.word-selected-group {
    font-style: italic;
    font-family: "Arial";
    font-weight: bold;
    text-decoration: underline;
}

.exercise-selector li {
    margin: 15px;
}

#sentence-to-learn-area {
    margin: 10px;
}

#show-sentence-area .word-to-learn:hover {
    cursor: pointer;
}

#show-sentence-area .word-selected-group:hover {
    cursor: pointer;
}

.current-sentence-number {
    font-weight: bold;
    margin-right: 10px;
}

.incorrect-user-input {
    border: 2px solid red;
}

.correct-user-input {
    border: 2px solid green;
}

.green-on-focus:focus {
    background-color: green;
}

.orange-on-focus:focus {
    background-color: orange;
}

.word-to-learn-table {
    margin: 20px;
}

.word-to-learn-table > tr > td {
    padding: 5px;
    border-top: 1px solid lightgrey;
}

.word-to-learn-attr-name {
    font-weight: bold;
}

.start-task-selection-lnk {
    font-size: large;
}

.select-editable {
    position:relative;
    background-color:white;
    border:solid grey 1px;
    width:120px;
    height:18px;
}
.select-editable select {
    position:absolute;
    top:0px;
    left:0px;
    font-size:14px;
    border:none;
    width:140px;
    margin:0;
}
.select-editable input {
    position:absolute;
    top:0px;
    left:0px;
    width:100px;
    padding:1px;
    font-size:12px;
    /*border:none;*/
}
.select-editable select:focus, .select-editable input:focus {
    outline:none;
}